In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import importlib
import utils
importlib.reload(utils)

In [3]:
df = pd.read_csv('data.csv').drop(columns = 'ID', axis=1)
df = df.dropna(axis=0, how='any')
X = df.drop(columns = 'class', axis =1 )
y = df['class']
df.head()

,air_time1,disp_index1,gmrt_in_air1,gmrt_on_paper1,max_x_extension1,max_y_extension1,mean_acc_in_air1,mean_acc_on_paper1,mean_gmrt1,mean_jerk_in_air1,...,mean_jerk_in_air25,mean_jerk_on_paper25,mean_speed_in_air25,mean_speed_on_paper25,num_of_pendown25,paper_time25,pressure_mean25,pressure_var25,total_time25,class
0,5160,0.000013,120.804174,86.853334,957,6601,0.361800,0.217459,103.828754,0.051836,...,0.141434,0.024471,5.596487,3.184589,71,40120,1749.278166,296102.7676,144605,P
1,51980,0.000016,115.318238,83.448681,1694,6998,0.272513,0.144880,99.383459,0.039827,...,0.049663,0.018368,1.665973,0.950249,129,126700,1504.768272,278744.2850,298640,P
2,2600,0.000010,229.933997,172.761858,2333,5802,0.387020,0.181342,201.347928,0.064220,...,0.178194,0.017174,4.000781,2.392521,74,45480,1431.443492,144411.7055,79025,P
3,2130,0.000010,369.403342,183.193104,1756,8159,0.556879,0.164502,276.298223,0.090408,...,0.113905,0.019860,4.206746,1.613522,123,67945,1465.843329,230184.7154,181220,P
4,2310,0.000007,257.997131,111.275889,987,4732,0.266077,0.145104,184.636510,0.037528,...,0.121782,0.020872,3.319036,1.680629,92,37285,1841.702561,158290.0255,72575,P

In [4]:
int_columns, float_columns, object_columns, numerical_columns = utils.columns_df(X)

Shape: (174, 450)
Numerical features:  450
Categorical features:  0

In [5]:
range(X.shape[0])

range(0, 174)

In [6]:
X_v = pd.DataFrame()

In [7]:
for r in range(X.shape[0]):
    row = X.iloc[r,:]
    features = {}
    for i in range(25):
        task = 'task_' + str(i+1)
        i_vector = []
        lim_inf = i*18
        lim_sup = i*18+17
        features[task] = row[lim_inf:lim_sup+1]
    row_df = pd.DataFrame([features])
    X_v = pd.concat([X_v, row_df], ignore_index=True)

In [8]:
X_v.shape

(174, 25)